* {
  font-family: sans-serif;
}

.main__header {
  text-align: center;
}

.main__add-book-btn {
  display: block;
  margin: 0 auto;
}

.main__form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  width: 20%;
  display: none;
}

.form__submit-button {
  width: 10rem;
  margin: 0 auto;
}

.main__table {
  margin: 1rem auto;
  background-color: #e7eaf6;
  font-size: large;
  border-collapse: collapse;
}

.table__header {
  font-weight: bold;
  color: white;
  background-color: #113f67;
}

tr:nth-child(even) {
  background-color: #a2a8d3;
}

td {
  padding: 1rem;
}

.table__buttons {
  display: flex;
  gap: 1rem;
}

button {
  background-color: #113f67;
  color: white;
  font-weight: bold;
  border-style: none;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

button:active {
  background-color: #38598b;
  translate: 0 3px;
}
