* {
  font-family: sans-serif;
}

.main__header {
  text-align: center;
}

.main__table {
  margin: 0 auto;
  background-color: #e7eaf6;
  font-size: large;
  border-collapse: collapse;
}

.table__header {
  font-weight: bold;
  color: white;
  background-color: #113f67;
}

tr:nth-child(even) {
  background-color: #a2a8d3;
}

td {
  padding: 1rem;
}
