* {
  font-family: sans-serif;
}

body {
  background-color: #ececec;
}

.heading {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container__book-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.new-book-container__add-book-btn {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #142d4c;
  color: white;
  font-weight: bolder;
  font-size: 1rem;
  border-style: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}

.new-book-container__add-book-btn:hover {
  cursor: pointer;
}

.new-book-container__add-book-btn:active {
  background-color: #9fd3c7;
}
